<a href="https://colab.research.google.com/github/eliza-puno/OOP-58001/blob/main/List%2C_Tuple%2C_and_Set_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [7]:
class Shapes:
  def __init__(self,length,width) :
    self.side = side
    self.width = width
  def area(self):
    return self.length * self.width
rectangle = Shapes(10,5)
rectangle.area()

50

In [12]:
#create your own function that will show your own full name, age
class Persons:
  def __init__(self,name,age) :
    self.name = name
    self.age = age
  def det(self):
    return self.name , self.age
details = Persons("Eliza Marie Puno","19")
details.det()

('Eliza Marie Puno', '19')

In [6]:
pow (10,2)
array = ["apple" , "banana", "orange"]
array.insert(0,"cherry")
print(array)

['cherry', 'apple', 'banana', 'orange']

List

In [19]:
pi = 3.15159
varlist = ['abc',1,'def',2,'shen',3]
print(varlist [0])

varlist.append('ghi')
print(varlist)
varlist.remove('shen')
print(varlist)
varlist.insert(3,3)
print(varlist)

abc
['abc', 1, 'def', 2, 'shen', 3, 'ghi']
['abc', 1, 'def', 2, 3, 'ghi']
['abc', 1, 'def', 3, 2, 3, 'ghi']

Dictionaries

In [21]:
students = {
    1:"ana",
    2:"angel",
    3:"shen",
    4:"leni",
    4:"jasper",


}

print(students)

{1: 'ana', 2: 'angel', 3: 'shen', 4: 'jasper'}