<a href="https://colab.research.google.com/github/eliza-puno/OOP-58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loop Statement

In [1]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [3]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    print(x)      #Only Displays Thursday    
    break

Thursday

In [4]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x)        #it displays from Sunday to Wednesday

Sunday
Monday
Tuesday
Wednesday

In [5]:
#Only displays Tuesday and Wednesday using break statement
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Tuesday" or x == "Wednesday":
    print(x)
    break

Tuesday

Looping Through a String

In [6]:
for x in "hotdog":
  print(x)

h
o
t
d
o
g

Nested Loops

In [7]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "tomato", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red tomato
red cherry
big apple
big tomato
big cherry
tasty apple
tasty tomato
tasty cherry

While Loops

In [8]:
i = 1
while i<=6:
  print(i)
  i +=1

1
2
3
4
5
6

In [9]:
#using break statement
i = 1
while i<=6:
  print(i)
  if i == 3:
    break
  i +=1

1
2
3

In [11]:
#Print only 5
i = 1
while i<=6:
  if i == 5:
    print(i) 
    break
  i +=1

5

Else Statement

In [ ]:
i = 1

while i < 6:
  print(i)
  i += 1
else:
  print("error")

Let's Try

In [13]:
x = 0
while x <= 10:
  print("Hello", x)
  x += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [14]:
x = 1
while x < 10:
  if x > 2:
    print(x)
  x += 1

3
4
5
6
7
8
9